.heading
{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}
.copy_right_footer
{
    position: fixed;
    font-size: 17px;
    font-family: monospace;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
   border: 5px solid whitesmoke;
   border-radius: 20px;
   box-shadow: 6px 6px 6px grey;
   margin-left: 250px;
}
video
{
    margin-left: 50px;
}
